<!DOCTYPE html>

<html charset="utf-8">
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="icon" type="image/png" href="/static/favicon.ico">
        <title>Bots</title>
        <style>
        </style>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        
    </head>
    <body>
        <hr/>
        <h2>Send:</h2>
        <form id="threadsForm" action="">
            <input type="submit" value="Abre thread">
        </form>
        <span id="testResponse"></span>
        <span id="threadResponse"></span>
        <hr/>
        <form id="inputForm">
            <input id="input" type="text" />
            <input type="submit" value="Send" />
        </form>
        <div id="stream"></div>

        <script type="module">

            import createApp from '/static/app.js'
            const app = createApp()

            var domInput, domStream
            
            const domInputForm = document.getElementById('inputForm')
            domInputForm.addEventListener('submit', onSubmit, false)
            domInput = document.getElementById('input')
            domStream = document.getElementById('stream')

            const threadsForm = document.getElementById("threadsForm")
            threadsForm.addEventListener("submit", startTestThread)

            const testResponse = document.getElementById("testResponse")

            const threadResponse = document.getElementById("threadResponse")
        
            const socket = app.initSocketIO(document.domain, location.port)
            socketioConfig()

            function createMessageDOM(text) {
                var line
                line = document.createElement('p')
                line.appendChild(document.createTextNode(text))
                return line
            }

            function showMsg(msg) {
                domStream.insertBefore(createMessageDOM(msg), domStream.firstChild)
            }

            function sendMessage(msg) {
                socket.emit('send-msg', msg)
            }

            function onSubmit(evt) {
                if (domInput && domInput.value != '') {
                    sendMessage(domInput.value)
                    domInput.value = ''
                }
                evt.preventDefault()
                return false
            }
            
            function handleTestResponse(message) {
                console.log(`response ${JSON.stringify(message, null, 2)}`)
                testResponse.innerHTML = message
            }

            function handleThreadResponse(message) {
                console.log(`Thread me mandou msg`)
                threadResponse.innerHTML = message
            }
            
            function startTestThread(event) {
                // avoid page submission
                event.preventDefault()

                console.log("Call Socket Server> start thread...")

                socket.emit('send-command', { command: 'commando!'})
                
                return false
            }

            function updateConfig(botConfigForm) {
                // avoid page submission
                botConfigForm.preventDefault()

                const command = {
                }
                socket.emit('send-command', command)
                return false
            }

            function socketioConfig() {
                socket.on('show-msg', showMsg)
                socket.on('testResponse', handleTestResponse)
                socket.on('thread-test', handleThreadResponse)
            }

        </script>
    </body>
</html>
